# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


test.ipxe
sigs/*.sig
sigs/ipxe
sigs/images
sigs/fedora
sigs/centos
sigs/centos-stream
sigs/centos-vault
sigs/mirrors
sigs/almalinux
sigs/rocky
sigs/scientific
sigs/pxelinux.cfg
images/modules.cgz
images/arm32_efi
by_ip/[0-9]*
by_mac/[0-9a-f]*
ipxe/boot.ipxe.org/*
ipxe/ipxe.iso
ipxe/ipxe.kpxe
ipxe/ipxe.lkrn
ipxe/ipxe.usb
ipxe/ipxe.efi
ipxe/undionly.kpxe
ipxe/snponly.efi
ipxe/arm32.efi
ipxe/*.rom
ipxe/com1
ipxe/com2
ipxe/qemu
pciids.ipxe
pxelinux.cfg/pci.ids
pxelinux.cfg/modules.pcimap
pxelinux.cfg/modules.alias
pxelinux.cfg/*pxelinux.0
pxelinux.cfg/*.c32
pxelinux.cfg/efi*
src
src-ipxe
